In [1]:
import numpy as np
from scipy import stats 
import math
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.orm import Session, sessionmaker

In [2]:
engine = create_engine("postgresql:///music", echo=True)
Session = sessionmaker(bind=engine)
session = Session()
con = engine.connect()

2019-05-07 17:25:46,316 INFO sqlalchemy.engine.base.Engine select version()
2019-05-07 17:25:46,317 INFO sqlalchemy.engine.base.Engine {}
2019-05-07 17:25:46,319 INFO sqlalchemy.engine.base.Engine select current_schema()
2019-05-07 17:25:46,320 INFO sqlalchemy.engine.base.Engine {}
2019-05-07 17:25:46,321 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-05-07 17:25:46,322 INFO sqlalchemy.engine.base.Engine {}
2019-05-07 17:25:46,323 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-05-07 17:25:46,324 INFO sqlalchemy.engine.base.Engine {}
2019-05-07 17:25:46,325 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2019-05-07 17:25:46,326 INFO sqlalchemy.engine.base.Engine {}

In [38]:
query = """
    SELECT artist, count(reviews), avg(score)
    FROM reviews
    WHERE pub_date NOT IN (SELECT pub_date FROM reviews WHERE pub_date < '2014-01-01' AND pub_date > '2010-01-01')
    AND artist in (SELECT artist FROM reviews where pub_date < '2010-01-01')
    AND artist in (SELECT artist FROM reviews where pub_date > '2014-01-01')
    GROUP BY artist
    ORDER BY avg(score) DESC
    """
result = con.execute(query).fetchall()
result[1:20]

2019-05-07 17:56:43,693 INFO sqlalchemy.engine.base.Engine
    SELECT artist, count(reviews), avg(score)
    FROM reviews
    WHERE pub_date NOT IN (SELECT pub_date FROM reviews WHERE pub_date < '2014-01-01' AND pub_date > '2010-01-01')
    AND artist in (SELECT artist FROM reviews where pub_date < '2010-01-01')
    AND artist in (SELECT artist FROM reviews where pub_date > '2014-01-01')
    GROUP BY artist
    ORDER BY avg(score) DESC

2019-05-07 17:56:43,694 INFO sqlalchemy.engine.base.Engine {}

[('john coltrane', 3, 9.5),
 ('gas', 3, 9.23333326975504),
 ('otis redding', 3, 9.0),
 ('the avalanches', 2, 9.0),
 ('this heat', 3, 9.0),
 ('sleater-kinney', 5, 8.86000003814697),
 ('albert ayler', 2, 8.84999990463257),
 ('caetano veloso', 5, 8.83999996185303),
 ('pavement', 4, 8.75),
 ('sly and the family stone', 2, 8.70000004768372),
 ('life without buildings', 2, 8.69999980926514),
 ('real estate', 2, 8.65000009536743),
 ('dr. dre', 2, 8.65000009536743),
 ('captain beefheart', 2, 8.65000009536743),
 ('loretta lynn', 2, 8.65000009536743),
 ('joanna newsom', 4, 8.64999985694885),
 ('pulp', 3, 8.63333320617676),
 ('fennesz', 7, 8.62857137407575),
 ('blur', 5, 8.62000007629394)]